# Required.  Do not change.
[nest]

# Nest account email address
username = user@example.com

# Password
password = badpassword

# Output format.  Valid values:
#   json
#   observium
format = observium

# Output file.  Defaults to stdout.
# outfile = myoutfile.txt
